@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';
body {
    background-image: url(../background_patterns/webb-dark.png);
    background-color: #06040ae1;
    color: white;
    font-family: montserrat;
    max-width: 100%;
    overflow-x: hidden;
  }
  p {
    color: white;
}
.text-gray-600 {
    color: white;
}
.text{
    
}


